.header {
  min-height: 74px;
  background-color: #073042;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_movie {
  background-color: #202020;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 760px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}
